
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(#ffd89b, #19547b);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h5{
  padding-top: 1rem;
  font-size: 15px;
}
h2{
  position: relative;
  text-align: center;
  color: black;
  font-size: 40px;
  padding-top: 1rem;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 6rem;
  border-radius: 5px;
  background: linear-gradient(135deg, black, white);
}
input[type="number"] {
  margin-top: 2rem;
  border: none;
  background: white;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1.5px solid #0a0a23;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgb(70, 70, 69);
  
}

input[type="number"]::placeholder {
  color: rgb(78, 81, 83);;
}

input[type="number"]:focus {
  box-shadow: 0 0 1rem 0 rgb(70, 70, 69);
  border-color: green;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.mainHeading {
  color: #000230;
  font-size: 38px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}